<% if order_just_completed?(@order) %>
  <%= fb_track 'Purchase', fb_track_params(@order).merge(order_id: @order.number, currency: 'USD') %>
  <% content_for :google_analytics do %>
    <%= render partial: 'spree/shared/google_purchase.js', locals: { order: @order } %>
  <% end %>
<% end %>
<div class="order">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h1 class="order-title">
          Order
        </h1>
        <h3 class="order-number">
          <%= @order.number %>
        </h3>
      </div>
      <div class="col-md-8">
        <% if order_just_completed?(@order) %>
          <div class="alert alert-info">
            <strong>Thank you for your purchase!</strong>
            Please print out this page for your records.
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'spree/shared/order' %>
  </div>
</div>
