<% @body_class = 'birdseed-header-inverse' %>
<div class="checkout-banner">
  <h1>Checkout</h1>
</div>
<%= render 'nav', { states: @order.checkout_steps }.merge!(local_assigns[:index] ? { index: index } : {}) %>
<%= form_for @order, url: update_checkout_path(@order.state), html: { class: 'checkout-form' } do |form| %>
  <%= form.hidden_field :state_lock_version %>
  <%= yield %>
<% end %>
