<div class="checkout-nav">
  <% if !@order.email? &&  %>
    <a class="active">
      <span class="glyphicon glyphicon-user"></span>
      Account
    </a>
  <% end %>
  <a<%= attrs_for_nav 'address' %>>
    <span class="glyphicon glyphicon-home"></span>
    Address
  </a>
  <a<%= attrs_for_nav 'payment' %>>
    <span class="glyphicon glyphicon-credit-card"></span>
    Payment
  </a>
  <a<%= attrs_for_nav 'confirm' %>>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Confirm
  </a>
</div>
