<div class="container-fluid">
  <h1>Orders</h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Payment State</th>
      <th>Shipment State</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <%= order. %>
      </tr>
    <% end %>
  </table>
</div>
