<div class="container-fluid">
  <div class="about-page">
    <h1>About</h1>
    <h3>We're glad you're here!</h3>
    <p>
      Birdseed.com's committment to providing the birding community with high
      quality, affordable bird feed and feed supplements now extends into its
      second decade. We are confident our products are some of the best money can
      buy and recently we've been hard at work redesigning the site striving to
      make it easier to find just the right items for your pet.
    </p>
    <p>
      We source our products from trusted partners who have a history of
      manufacturing high quality products providing your pets with healthy well
      rounded diets. We avoid adding filler ingredients like milo and wheat that
      birds don't eat to reduce waste.
    </p>
    <p>
      If you are a pigeon lover, today there is a greatly expanded line of
      products especially created for your pigeon's health and well being from
      Versele-Laga, a Belgian bird specialty company. Please be sure to check them
      out under the Orlux, Colombine, Oropharma and Versele-Laga brands.
    </p>
    <p>
      We have many new and exciting additions planned for the near future so
      please go to the log in page and sign up to receive notices of upcoming
      additions and exclusive offers. Also, if you like what we've done with our
      new web site, like us on our brand new Facebook page!
    </p>
    <p class="attribution">The birdseed.com team</p>
  </div>
</div>
