<div class="container-fluid">
  <div class="talk-to-us-page">
    <h1>Talk To Us</h1>
    <h3>We're here to help.</h3>
    <p>
      If your are new to birding or simply have a question
      about birding please don't hesitate to contact us. While we aren't
      veterinarians, we live and breath birds and have many years of birding
      experience - we might just be able to help. And if we don't know the
      answer we probably know someone who does.
    </p>
    <p>
      We pride ourselves on being accessable. While we encourage you to use the
      internet to find solutions we also understand that sometimes the answers
      just aren't there. So if all else fails send us an email
      (<%= mail_to 'help@birdseed.com' %>) or give us a call (209-222-1234).
      A real human will answer the phone from 8am to noon and 1pm till 5pm
      Pacific time.
  </div>
</div>
